.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    padding-left: 20px;
    background-color: rgba(255, 242, 158, 0.71);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    display: flex;
    align-items: center;
    font-size: 28px;
    font-weight: bold;
}

.img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}