.transportation {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 50px;
    gap: 20px;
}

.transportation-image {
    width: 30%;
    object-fit: cover;
    margin: 0 20px;
    border-radius: 20px;
    border: 5px solid rgba(255, 242, 158, 1);
}

.transportation-small {
    width: 20%;
}

.transportation-text {
    width: 62%;
    text-align: justify;
    margin-right: 20px;

}

.transportation-text h2 {
    font-size: 32px;
    font-weight: bold;
}

.transportation-more a {
    color: #007bff;
    margin-left: 5px;
}