.home-image-container {
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
}

.home-image {
    width: 60%;
    max-height: 550px;
    object-fit: cover;
    margin: 0 20px;
    border-radius: 20px;
    border: 5px solid rgba(255, 242, 158, 1);
}

.slogan {
    flex-grow: 1;
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 242, 158, 0.71);
    border-radius: 20px;

}

.slogan-text {
    color: rgb(0, 0, 0);
    margin: 0;
    font-size: 32px;
    font-weight: bold;
}

.home-content {
    padding: 20px;
}

.home-section-title {
    margin-bottom: 20px;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    background-color: rgba(255, 242, 158, 0.71);
    border-radius: 20px;
    padding: 20px;

}


