.container-footer {
    background-color: var(--primary-background);
    margin-top: 50px;
    padding: 20px;
    box-shadow: var(--shadow);
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.logo-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.logo-footer a {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
    flex-wrap: wrap;
}

.logo-footer a:hover {
    color: var(--primary-hover-color);
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.contact-info p {
    display: inline-block;
    font-weight: normal;
    margin: 5px 0 5px 5px;
}

.contact-info a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

.contact-info a:hover {
    color: var(--primary-hover-color);
}

.footer-links {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.footer-links a {
    text-decoration: none;
    color: black;
    margin: 5px 0;
}

.footer-links a:hover {
    color: var(--primary-hover-color);
}

@media screen and (max-width: 780px) {
    .footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logo-footer {
        display: none;
    }

    .contact-info {
        width: 110px;
    }

    .contact-info p {
        display: none;
    }

    .contact-info a {
        margin: 5px 0;
    }

    .footer-links {
        width: 110px;
    }
}