.container-footer {
    background-color: rgba(255, 242, 158, 1);
    margin-top: 50px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(68, 68, 68, 0.5), 0 0 20px rgba(68, 68, 68, 0.3);
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.logo-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.logo-footer a {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
    flex-wrap: wrap;
}

.logo-footer a:hover {
    color: #FF5500;
}

.contact-info {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.contact-info p {
    margin: 5px 0;
    font-weight: bold;
}

.contact-info a {
    color: #000000;
    text-decoration: none;
    font-weight: normal;
}

.contact-info a:hover {
    color: #FF5500;
}

.footer-links {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


.footer-links a {
    text-decoration: none;
    color: black;
    margin: 5px 0;
}

.footer-links a:hover {
    color: #FF5500;
}

@media screen and (max-width: 705px) {
    .footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact-info {
        justify-content: center;
        align-items: center;
    }

    .footer-links a {
        display: none;
    }
}