.services-box {
    padding: var(--body-padding);
    margin: 50px 0;
}

.services-title {
    margin-bottom: 20px;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    background-color: var(--primary-background);
    box-shadow: var(--shadow);
    border-radius: 20px;
    padding: 20px;
}

.services-flex {
    gap: 2.5rem;
    grid-template-rows: repeat(2, minmax(0, 1fr));
    display: grid;
    margin: 50px 0;
}

.service-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px 0;
    gap: 30px;
    border-radius: 20px;
    box-shadow: var(--shadow);
}

.service-image {
    width: 300px;
    object-fit: cover;
    border-radius: 20px;
    border: 3px solid var(--primary-background);
    box-shadow: var(--shadow);
}

.service-container a {
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin: 0 auto;
    text-decoration: none;

}

.service-container a:hover {
    background-color: var(--primary-hover-color);
    box-shadow: var(--primary-box-shadow);
}

.service-container h3 {
    text-align: center;
}

.services-text-content {
    width: 40%;
}

@media screen and (max-width: 960px) {
    .service-container {
        flex-direction: column;
    }

    .service-image {
        width: 80%;
    }

    .services-text-content {
        width: 90%;
        text-align: center;
    }
}