.main-wrapper {
    padding: var(--body-padding);
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.main-image {
    width: 60%;
    max-height: 550px;
    object-fit: cover;
    margin: 0 20px;
    border-radius: 20px;
    border: 5px solid var(--primary-background);
    box-shadow: var(--shadow);
}

.slogan {
    flex-grow: 1;
    text-align: center;
    padding: 20px;
    background-color: var(--primary-background);
    border-radius: 20px;
    box-shadow: var(--shadow);
}

.slogan-text {
    color: rgb(0, 0, 0);
    margin: 0;
    font-size: 32px;
    font-weight: bold;
}

@media screen and (max-width: 1087px) {
    .main-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .main-image {
        width: 80%;
    }

}

@media screen and (max-width: 600px) {
    .slogan-text {
        font-size: 26px;
        padding: 0;
    }
}
